.featuredTag {
  background-image: linear-gradient(
    to right top,
    #09203f,
    #0e274a,
    #132f55,
    #183761,
    #1d3f6d
  );
  text-align: center;
  width: 100%;
  color: aliceblue;
  padding: 0.5rem 0;
}
.featured {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  z-index: 1;
}

.featuredItem {
  position: relative;
  color: white;
  border-radius: 10px;
  overflow: hidden;
  height: 250px;
}

.featuredImg {
  width: 100%;
  object-fit: cover;
}

.featuredTitles {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
